In [1]:
import  pandas as pd
df = pd.read_csv("C:/Python/Python38/base_datos_2008.csv", nrows = 1e6)

In [36]:
df.head(10)#Diez primras filas

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [37]:
df.drop(0)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2008,2,12,2,1648.0,1655,1959.0,2005,MQ,4695,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999996,2008,2,13,3,1647.0,1655,2013.0,2005,MQ,4695,...,6.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999997,2008,2,14,4,1653.0,1655,2000.0,2005,MQ,4695,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999998,2008,2,15,5,1650.0,1655,1951.0,2005,MQ,4695,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail() #Ultimas cinco filas

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [25]:
df = df.sample(frac = 1) #frac=1,mantiene todas las filas

In [6]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [8]:
df.values

array([[2008, 1, 15, ..., nan, nan, nan],
       [2008, 1, 18, ..., nan, nan, nan],
       [2008, 1, 22, ..., nan, nan, nan],
       ...,
       [2008, 1, 18, ..., nan, nan, nan],
       [2008, 1, 31, ..., 0.0, 0.0, 39.0],
       [2008, 1, 29, ..., nan, nan, nan]], dtype=object)

# filtrado

In [ ]:
df["ArrDelay"].head(10) #Obtener columna de retraso de los vuelos(ArrDelay)

In [2]:
df[100:110]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,2008,1,3,4,826.0,825,930.0,925,WN,136,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
101,2008,1,3,4,2118.0,2015,2224.0,2115,WN,219,...,3.0,17.0,0,NaN,0,17.0,0.0,6.0,0.0,46.0
102,2008,1,3,4,1818.0,1740,1916.0,1840,WN,391,...,2.0,10.0,0,NaN,0,20.0,0.0,0.0,0.0,16.0
103,2008,1,3,4,650.0,650,748.0,750,WN,670,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104,2008,1,3,4,2146.0,2055,2250.0,2155,WN,815,...,3.0,13.0,0,NaN,0,4.0,0.0,4.0,0.0,47.0
105,2008,1,3,4,2241.0,1910,2340.0,2010,WN,1072,...,3.0,13.0,0,NaN,0,114.0,0.0,0.0,0.0,96.0
106,2008,1,3,4,1409.0,1355,1513.0,1500,WN,1328,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
107,2008,1,3,4,1100.0,1050,1157.0,1155,WN,1586,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
108,2008,1,3,4,1306.0,1250,1406.0,1355,WN,1838,...,2.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
109,2008,1,3,4,1726.0,1630,1832.0,1740,WN,2284,...,2.0,18.0,0,NaN,0,1.0,0.0,0.0,0.0,51.0

In [26]:
df[df["ArrDelay"] > 60].head() #vuelos retrasados mas de 60 minutos

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
92032,2008,1,31,4,1513.0,1340,1613.0,1445,WN,812,...,4.0,11.0,0,NaN,0,0.0,0.0,87.0,0.0,1.0
99949,2008,1,22,2,1716.0,1500,1810.0,1542,XE,7674,...,5.0,18.0,0,NaN,0,0.0,0.0,12.0,0.0,136.0
79250,2008,1,27,7,1955.0,1640,2050.0,1740,WN,378,...,7.0,10.0,0,NaN,0,19.0,0.0,0.0,0.0,171.0
60711,2008,1,21,1,711.0,640,931.0,800,WN,1862,...,5.0,104.0,0,NaN,0,0.0,0.0,91.0,0.0,0.0
97799,2008,1,25,5,1649.0,1515,1930.0,1808,XE,423,...,6.0,10.0,0,NaN,0,9.0,0.0,0.0,0.0,73.0

In [ ]:
df[df["Origin"]== "PDX"].head() #vuelos que salen de un cierto aeropuerto

In [27]:
df[(df["Origin"]== "PDX") & (df["ArrDelay"] > 60)].head() #Se aplica doble filtro

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
92922,2008,1,31,4,2230.0,2050,2332.0,2150,WN,1231,...,6.0,9.0,0,NaN,0,0.0,0.0,2.0,0.0,100.0
7725,2008,1,5,6,1900.0,1740,2134.0,2025,WN,159,...,2.0,10.0,0,NaN,0,10.0,0.0,0.0,0.0,59.0
99684,2008,1,21,1,2014.0,1720,2307.0,2010,XE,7651,...,7.0,12.0,0,NaN,0,0.0,0.0,3.0,0.0,174.0
59903,2008,1,21,1,2226.0,2050,2330.0,2150,WN,1231,...,6.0,7.0,0,NaN,0,7.0,0.0,4.0,0.0,89.0
59923,2008,1,21,1,1245.0,1130,1359.0,1250,WN,1566,...,5.0,7.0,0,NaN,0,0.0,69.0,0.0,0.0,0.0

In [ ]:
df[df.Origin.isin(["PDX", "COS"])].head() #Escoger difrentes origenes a la vez.

In [ ]:
df["Origin"]

In [ ]:
df[pd.isna(df["ArrDelay"])].head() #obtener datos perdidos con funtion pandas

In [ ]:
df["HoursDelay"]= round(df["ArrDelay"] / 60)#crear una columna nueva

In [ ]:
del(df["HoursDelay"])

In [ ]:
df.head()

In [3]:
df.drop(["Diverted", "Cancelled", "Year"], axis=1, inplace=True)#borrar varias columnas a la vez, lo ejecuta pero no guarda, se debe igualar

In [4]:
df.drop(0) # Borra la fila 0, solo ejecuta la instruccion, para guardar borrar se debe igualar la instrucciÃ³n

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,JAX,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2,12,2,1648.0,1655,1959.0,2005,MQ,4695,N722AE,...,RDU,904,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
999996,2,13,3,1647.0,1655,2013.0,2005,MQ,4695,N731BE,...,RDU,904,6.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
999997,2,14,4,1653.0,1655,2000.0,2005,MQ,4695,N706RG,...,RDU,904,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
999998,2,15,5,1650.0,1655,1951.0,2005,MQ,4695,N715AE,...,RDU,904,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
999999,2,17,7,NaN,1655,NaN,2005,MQ,4695,NaN,...,RDU,904,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop(range(0,100000), inplace=True)#eliminar muchas filas de un golpe

In [5]:
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"] #Crear nuvas filas, nuevas bases de datos

In [6]:
newdf = dfATL.append(dfHOU) # esto suma los dos dataframe

In [7]:
newdf.Origin

103149    ATL
103572    ATL
104019    ATL
104124    ATL
104485    ATL
         ...
980261    HOU
980262    HOU
980263    HOU
980264    HOU
980265    HOU
Name: Origin, Length: 68288, dtype: object

# gruopby

In [9]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max() #por cadia dia de la semana ("DayOfWeek") el Retraso ("ArrDelay") maximo de vuelos

DayOfWeek
1    1146.0
2    1057.0
3    1357.0
4    1094.0
5    1357.0
6    1525.0
7    1166.0
Name: ArrDelay, dtype: float64

In [12]:
df.groupby(by = "DayOfWeek")["ArrDelay"].describe() #resumen estadistico agrupado para cada uno de los dias de la semana

             count       mean        std   min   25%  50%   75%    max
DayOfWeek
1          14349.0   4.568960  29.047008 -56.0  -9.0 -3.0   9.0  431.0
2          14471.0   0.446479  21.617710 -48.0 -10.0 -4.0   5.0  360.0
3          14504.0  -1.646511  18.464538 -48.0 -11.0 -5.0   3.0  422.0
4          16774.0  13.387922  38.490537 -45.0  -7.0  2.0  19.0  486.0
5          14350.0   7.684948  28.156892 -52.0  -7.0  0.0  14.0  364.0
6          11172.0   2.069280  27.866895 -49.0 -11.0 -4.0   6.0  500.0
7          13078.0  12.190625  41.925311 -57.0  -9.0  0.0  16.0  367.0

In [14]:
df.groupby(by = "DayOfWeek")["ArrDelay"].mean()# Calcula la media para la columna ArrDelay

DayOfWeek
1     4.568960
2     0.446479
3    -1.646511
4    13.387922
5     7.684948
6     2.069280
7    12.190625
Name: ArrDelay, dtype: float64

In [10]:
df.groupby(by = "DayOfWeek")["ArrDelay", "DepDelay"].mean()# Calcula la media a dos columnas

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

            ArrDelay   DepDelay
DayOfWeek
1          12.115087  13.376120
2          13.637012  13.695058
3           9.101139  10.653427
4          11.995864  12.540728
5          13.095501  14.021772
6           5.707830   8.647372
7          11.632100  13.547314

In [11]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max()-df.groupby(by = "DayOfWeek")["ArrDelay"].min()#operacion de resta para max y min(rango de valores)

DayOfWeek
1    1226.0
2    1125.0
3    1432.0
4    1163.0
5    1443.0
6    1616.0
7    1245.0
Name: ArrDelay, dtype: float64

In [13]:
dfATLHOU=df[df.Origin.isin(["ATL","HOU"])]#crear nuevo dataframe con vuelos de dos ciudades ATLANTA y HOUSTONG

In [14]:
#por cada dia de la semana aquellos vuelos que salen de atlanta y houstom y sus medias
#lo que permite comparar cual de las dos ciudades cuales vuelos llegan mas retrasados y en que dia las diferencias son mayores
dfATLHOU.groupby(by=["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL        7.367432
           HOU       11.180751
2          ATL        9.706690
           HOU       12.610830
3          ATL       12.433992
           HOU       11.487395
4          ATL       11.527772
           HOU       18.631061
5          ATL       11.571790
           HOU       12.462759
6          ATL        6.264876
           HOU        2.287234
7          ATL       12.093200
           HOU       11.420108
Name: ArrDelay, dtype: float64

In [33]:
dfATLHOU.Origin

49564    HOU
78125    HOU
91582    HOU
84676    HOU
42688    HOU
        ...
12754    HOU
12888    HOU
58609    HOU
91605    HOU
26535    HOU
Name: Origin, Length: 3825, dtype: object

In [34]:
df.groupby(by = "DayOfWeek")["ArrDelay"].mean()

DayOfWeek
1     4.568960
2     0.446479
3    -1.646511
4    13.387922
5     7.684948
6     2.069280
7    12.190625
Name: ArrDelay, dtype: float64

# datos duplicados y perdidos

In [15]:
dfduplicate = df.append(df) #eliminar datos duplicados

In [16]:
dfduplicate = dfduplicate.sample(frac=1)#eliminar datos duplicados

In [17]:
dfclean = dfduplicate.drop_duplicates()#eliminar datos duplicados

In [19]:
len(dfclean)==len(df)

False

In [20]:
len(dfclean)

999996

In [43]:
len(df)

1000000

In [21]:
dfclean.drop_duplicates(subset="DayofMonth") #eliminar datos duplicados columna especifica

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
135798,1,10,4,1118.0,1117,1429.0,1445,YV,7146,N510MJ,...,ORD,911,6.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
554613,1,16,3,1808.0,1815,2103.0,2114,B6,547,N537JB,...,PBI,1024,3.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
443268,1,2,3,552.0,600,836.0,815,NW,1112,N358NW,...,DTW,312,16.0,33.0,NaN,0.0,0.0,21.0,0.0,0.0
314127,1,24,4,817.0,820,1145.0,1119,DL,1564,N999DN,...,ATL,692,9.0,42.0,NaN,0.0,0.0,26.0,0.0,0.0
252459,1,13,7,1809.0,1815,1852.0,1908,UA,1491,N406UA,...,LAS,629,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
703335,2,1,5,1616.0,1310,2114.0,1643,XE,2835,N12967,...,EWR,725,23.0,73.0,NaN,0.0,0.0,271.0,0.0,0.0
331807,1,30,3,1054.0,1000,1202.0,1122,EV,4435,N877AS,...,ATL,306,8.0,9.0,NaN,40.0,0.0,0.0,0.0,0.0
763915,2,28,4,1355.0,1330,1555.0,1459,OH,5205,N548CA,...,BOS,187,15.0,60.0,NaN,25.0,0.0,31.0,0.0,0.0
408243,1,3,4,1303.0,1300,1402.0,1415,MQ,4224,N931AE,...,ORD,607,11.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
512553,1,11,5,1345.0,1345,1603.0,1605,AA,1605,N4WSAA,...,SAN,1723,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
439553,1,21,1,914.0,918,1203.0,1209,NW,890,N304US,...,PBI,1087,7.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
329670,1,4,5,1029.0,1030,1210.0,1211,EV,4369,N636AS,...,ATL,300,15.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
235766,1,29,2,950.0,955,1228.0,1238,UA,591,N503UA,...,DEN,1754,4.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
120603,1,23,3,1549.0,1520,1722.0,1708,XE,2341,N15983,...,GSO,446,3.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
193051,1,15,2,555.0,600,744.0,746,OO,6706,N715SK,...,ORD,491,5.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN
843125,2,6,3,1801.0,1735,1950.0,1937,UA,1457,N477UA,...,DEN,1506,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
262428,1,5,6,1834.0,1751,2001.0,1936,US,456,N817AW,...,SLC,507,6.0,10.0,NaN,1.0,0.0,0.0,0.0,24.0
826926,2,27,3,1147.0,1110,1301.0,1235,UA,549,N841UA,...,MSP,334,3.0,11.0,NaN,0.0,0.0,0.0,0.0,26.0
879031,2,25,1,2138.0,2146,2156.0,2214,US,480,N334AW,...,BUR,369,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
437257,1,9,3,820.0,823,919.0,925,NW,763,N509US,...,MSP,528,10.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
93568,1,31,4,824.0,825,1043.0,1035,WN,1379,N316SW,...,SJC,697,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
530000,1,18,5,1748.0,1755,1820.0,1824,AQ,48,N841AL,...,HNL,102,4.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
240304,1,19,6,1904.0,1905,1954.0,1959,UA,749,N934UA,...,HDN,142,4.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
951887,2,20,3,937.0,855,1203.0,1112,FL,413,N935AT,...,TPA,842,6.0,19.0,NaN,0.0,0.0,9.0,0.0,42.0
465021,1,14,1,1354.0,1400,1604.0,1558,9E,4796,80339E,...,PHL,587,4.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
638218,2,12,2,855.0,900,1014.0,1015,WN,180,N409WN,...,BWI,328,4.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
582883,1,26,6,932.0,935,1206.0,1205,CO,1071,N14325,...,MCO,895,2.0,32.0,NaN,NaN,NaN,NaN,NaN,NaN
894141,2,17,7,1557.0,1559,1846.0,1909,DL,1853,N968DL,...,TPA,1011,3.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
856684,2,8,5,711.0,715,828.0,835,US,887,N117UW,...,PHL,196,5.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN
378668,1,22,2,944.0,950,1018.0,1027,HA,513,N484HA,...,LIH,102,6.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
942964,2,7,4,1151.0,1159,1454.0,1440,FL,660,N998AT,...,PBI,1057,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
dfclean.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
894638,2008,2,18,1,2302.0,2259,1.0,4,DL,895,...,9.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
33437,2008,1,13,7,1308.0,1300,1614.0,1610,WN,190,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
108687,2008,1,6,7,1910.0,1915,2221.0,2249,XE,2521,...,9.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
100349,2008,1,30,3,1722.0,1725,1846.0,1900,XE,7739,...,4.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
803906,2008,2,25,1,552.0,600,600.0,616,OO,5901,...,10.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [22]:
#gestionar datos faltantes
df.dropna() #el resultado mustra que no hay datos fltntes

Empty DataFrame
Columns: [Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, CancellationCode, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 26 columns]

In [23]:
df.dropna(subset=["CancellationCode"]) #filtrar por una columna en concreto

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,1,3,4,NaN,700,NaN,830,WN,126,NaN,...,OAK,407,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
373,1,3,4,NaN,1100,NaN,1215,WN,1146,NaN,...,OAK,337,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
399,1,3,4,NaN,905,NaN,1025,WN,469,NaN,...,SFO,337,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
401,1,3,4,NaN,1620,NaN,1740,WN,618,NaN,...,SFO,337,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN
415,1,3,4,NaN,1930,NaN,2035,WN,2528,NaN,...,SJC,308,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2,11,1,NaN,855,NaN,1210,MQ,4693,NaN,...,RDU,904,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
999919,2,17,7,NaN,855,NaN,1210,MQ,4693,NaN,...,RDU,904,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN
999961,2,17,7,NaN,1445,NaN,1630,MQ,4694,NaN,...,MCI,904,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN
999971,2,22,5,NaN,1235,NaN,1415,MQ,4694,NaN,...,RDU,426,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN
999999,2,17,7,NaN,1655,NaN,2005,MQ,4695,NaN,...,RDU,904,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN