In [1]:
# @hidden_cell
# The project token is an authorization token that is used to access project resources like data sources, connections, and used by platform APIs.
from project_lib import Project
project = Project(project_id='c521bece-3b1d-42e0-8c2b-3eb8dac5c33a', project_access_token='p-0958cd2f4097cb43a1578b84d9d3dffc205b84d5')
pc = project.project_context

# MARATÓN BEHIND THE CODE 2020

# DESAFÍO 8 - Digital House

El reto de Digital House tiene que ver con la misión y visión de la empresa; la cual busca transformar la vida de las personas, desarrollando competencias digitales, para que generen un impacto positivo en la sociedad. En ese sentido, Digital House busca a través de este desafío medir la empleabilidad de los cursos que disponibiliza en su plataforma, es decir que tan factible es que un alumno o egresado de Digital House acceda al mercado laboral o consiga un trabajo en su área luego de finalizar uno o varios de los cursos ofrecidos en la plataforma.

Entender que características o variables hacen que una persona sea más o menos empleable es fundamental para la empresa y para generar ese impacto positivo que busca aportar a la sociedad

<hr>

## Instalación de algunas bibliotecas de Python

In [2]:
!pip install scikit-learn --upgrade
!pip install scipy --upgrade

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |████████████████████████████████| 6.8MB 8.2MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn) (1.15.4)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Collecting joblib>=0.11 (from scikit-learn)
  Downloading https://files.pythonhosted.org/packages/51/dd/0e015051b4a27ec5a58b02ab774059f3289a94b0906f880a3f9507e74f38/joblib-0.16.0-py3-none-any.whl (300kB)
     |████████████████████████████████| 307kB 33.0MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scikit-learn) (1.2.0)
ERROR: autoai-libs 1.10.5 has requirement numpy>=1.16.4, but you'll have numpy 1.15.4 which is incompatible.
ERROR: autoai-libs 1.10.5 has requirement pandas>=0.24.2, but you'll have pandas 0.24.1 which is incompatible.
ERROR: autoai-libs 1.10.5 has requirement scikit-learn==0.20.3, but you'll have scikit-learn 0.23.2 which is incompatible.
Installing collected packages: threadpoolctl, joblib, scikit-learn
  Found existing installation: scikit-learn 0.20.3
    Uninstalling scikit-learn-0.20.3:
      Successfully uninstalled scikit-learn-0.20.3
Successfully installed joblib-0.16.0 scikit-learn-0.23.2 threadpoolctl-2.1.0
Collecting scipy
  Downloading https://files.pythonhosted.org/packages/2b/a8/f4c66eb529bb252d50e83dbf2909c6502e2f857550f22571ed8556f62d95/scipy-1.5.2-cp36-cp36m-manylinux1_x86_64.whl (25.9MB)
     |████████████████████████████████| 25.9MB 8.9MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: numpy>=1.14.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from scipy) (1.15.4)
ERROR: autoai-libs 1.10.5 has requirement numpy>=1.16.4, but you'll have numpy 1.15.4 which is incompatible.
ERROR: autoai-libs 1.10.5 has requirement pandas>=0.24.2, but you'll have pandas 0.24.1 which is incompatible.
ERROR: autoai-libs 1.10.5 has requirement scikit-learn==0.20.3, but you'll have scikit-learn 0.23.2 which is incompatible.
Installing collected packages: scipy
  Found existing installation: scipy 1.2.0
    Uninstalling scipy-1.2.0:
      Successfully uninstalled scipy-1.2.0
Successfully installed scipy-1.5.2

<hr>

## Descargue el conjunto de datos del desafío en formato .csv

In [3]:
import pandas as pd

!wget --no-check-certificate --content-disposition https://raw.githubusercontent.com/vanderlei-test/654986294958/master/train_dataset_digitalhouse.csv
df_training_dataset = pd.read_csv(r'train_dataset_digitalhouse.csv')
df_training_dataset.tail()

--2020-09-17 05:13:55--  https://raw.githubusercontent.com/vanderlei-test/654986294958/master/train_dataset_digitalhouse.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.8.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.8.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 654532 (639K) [text/plain]
Saving to: ‘train_dataset_digitalhouse.csv’

100%[======================================>] 654,532     --.-K/s   in 0.03s

2020-09-17 05:13:55 (24.9 MB/s) - ‘train_dataset_digitalhouse.csv’ saved [654532/654532]

,Unnamed: 0,EDAD,GENERO,RESIDENCIA,NV_ESTUDIO,ESTUDIO_PREV,TRACK_DH,AVG_DH,MINUTES_DH,EXPERIENCIA,DIAS_EMP
8990,9995,29.0,MASCULINO,ARGENTINA,TERTIARY,DEVELOPMENT,NaN,4.0,4701.6,9.1,86.0
8991,9996,34.0,NaN,ARGENTINA,UNIVERSITARY,ENGINEERING,PROGRAMACION,3.4,4646.2,16.8,95.0
8992,9997,28.0,FEMENINO,ARGENTINA,POST_GRADUATE,ENGINEERING,EJECUTIVO,NaN,3315.1,5.6,95.0
8993,9998,23.0,MASCULINO,MEXICO,TERTIARY,ENGINEERING,PROGRAMACION,3.3,4437.8,0.9,87.0
8994,9999,36.0,MASCULINO,ARGENTINA,UNIVERSITARY,COMMERCIAL,DATA,3.4,4600.8,19.6,88.0

## En el conjunto de datos proporcionado, tenemos las siguientes columnas:

* Unnamed: 0
* EDAD
* GENERO
* RESIDENCIA
* NV_ESTUDIO
* ESTUDIO_PREV
* TRACK_DH
* AVG_DH
* MINUTES_DH
* EXPERIENCIA
* **DIAS_EMP = El valor "target" que se va a predecir**

Podemos verificar fácilmente que faltan valores usando el siguiente código:

```df_training_dataset.info()```

Debe manejar cuidadosamente estos valores faltantes antes de crear un modelo de regresión.

In [4]:
df_training_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8995 entries, 0 to 8994
Data columns (total 11 columns):
Unnamed: 0      8995 non-null int64
EDAD            7668 non-null float64
GENERO          7620 non-null object
RESIDENCIA      7638 non-null object
NV_ESTUDIO      7623 non-null object
ESTUDIO_PREV    7665 non-null object
TRACK_DH        7714 non-null object
AVG_DH          7651 non-null float64
MINUTES_DH      7619 non-null float64
EXPERIENCIA     7618 non-null float64
DIAS_EMP        8995 non-null float64
dtypes: float64(5), int64(1), object(5)
memory usage: 773.1+ KB

<hr>

## Algunos consejos antes de entrenar a un modelo:

1. Manejar valores perdidos

2. Manejar variables categóricas

<hr>

## A continuación, le brindamos una plantilla simple para que sepa cómo estructurar las entradas y salidas de su modelo

### Removiendo columnas

In [106]:
df_training_dataset_1 = df_training_dataset.drop(columns=['Unnamed: 0'], inplace=False)
df_training_dataset_1.tail()

,EDAD,GENERO,RESIDENCIA,NV_ESTUDIO,ESTUDIO_PREV,TRACK_DH,AVG_DH,MINUTES_DH,EXPERIENCIA,DIAS_EMP
8990,29.0,MASCULINO,ARGENTINA,TERTIARY,DEVELOPMENT,NaN,4.0,4701.6,9.1,86.0
8991,34.0,NaN,ARGENTINA,UNIVERSITARY,ENGINEERING,PROGRAMACION,3.4,4646.2,16.8,95.0
8992,28.0,FEMENINO,ARGENTINA,POST_GRADUATE,ENGINEERING,EJECUTIVO,NaN,3315.1,5.6,95.0
8993,23.0,MASCULINO,MEXICO,TERTIARY,ENGINEERING,PROGRAMACION,3.3,4437.8,0.9,87.0
8994,36.0,MASCULINO,ARGENTINA,UNIVERSITARY,COMMERCIAL,DATA,3.4,4600.8,19.6,88.0

### Removendo valores NaN

In [126]:
from sklearn.impute import SimpleImputer
import numpy as np
si = SimpleImputer(
    missing_values=np.nan,  # los valores que faltan son del tipo ``np.nan`` (Pandas estándar)
    strategy='most_frequent',  # la estrategia elegida es cambiar el valor faltante por una constante
)

### Codificando variables categóricas

In [127]:
# Columnas One-hot-encoding del dataset usando el metodo de Pandas ``get_dummies`` (demontración)
df_training_dataset_2 = pd.get_dummies(df_training_dataset_1, columns=['GENERO','TRACK_DH', 'NV_ESTUDIO', 'ESTUDIO_PREV','RESIDENCIA'])
df_training_dataset_2.tail()

,EDAD,AVG_DH,MINUTES_DH,EXPERIENCIA,DIAS_EMP,GENERO_FEMENINO,GENERO_MASCULINO,TRACK_DH_DATA,TRACK_DH_EJECUTIVO,TRACK_DH_MARKETING,...,NV_ESTUDIO_TERTIARY,NV_ESTUDIO_UNIVERSITARY,ESTUDIO_PREV_BUSINESS,ESTUDIO_PREV_COMMERCIAL,ESTUDIO_PREV_DEVELOPMENT,ESTUDIO_PREV_ENGINEERING,ESTUDIO_PREV_MARKETING,RESIDENCIA_ARGENTINA,RESIDENCIA_BRAZIL,RESIDENCIA_MEXICO
8990,29.0,4.0,4701.6,9.1,86.0,0,1,0,0,0,...,1,0,0,0,1,0,0,1,0,0
8991,34.0,3.4,4646.2,16.8,95.0,0,0,0,0,0,...,0,1,0,0,0,1,0,1,0,0
8992,28.0,NaN,3315.1,5.6,95.0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
8993,23.0,3.3,4437.8,0.9,87.0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,1
8994,36.0,3.4,4600.8,19.6,88.0,0,1,1,0,0,...,0,1,0,1,0,0,0,1,0,0

In [128]:
# Aplicamos el SimpleImputer ``si`` al conjunto de datos df_data_2 (resultado de la primera transformación)
si.fit(X=df_training_dataset_2)

# Reconstrucción de un nuevo DataFrame de Pandas con el conjunto imputado (df_data_3)
df_training_dataset_3 = pd.DataFrame.from_records(
    data=si.transform(
        X=df_training_dataset_2
    ),  # el resultado SimpleImputer.transform (<< pandas dataframe >>) es lista lista
    columns=df_training_dataset_2.columns  # las columnas originales deben conservarse en esta transformación
)

In [129]:
print("Valores nulos en el conjunto de datos después de la transformación SimpleImputer: \n\n{}\n".format(df_training_dataset_3.sum(axis = 0)))

Valores nulos en el conjunto de datos después de la transformación SimpleImputer:

EDAD                          305747.0
AVG_DH                         31641.6
MINUTES_DH                  40086004.7
EXPERIENCIA                   144914.7
DIAS_EMP                      816813.0
GENERO_FEMENINO                 2390.0
GENERO_MASCULINO                5230.0
TRACK_DH_DATA                   3464.0
TRACK_DH_EJECUTIVO               698.0
TRACK_DH_MARKETING               519.0
TRACK_DH_PROGRAMACION           3033.0
NV_ESTUDIO_POST_GRADUATE         980.0
NV_ESTUDIO_TERTIARY             1762.0
NV_ESTUDIO_UNIVERSITARY         4881.0
ESTUDIO_PREV_BUSINESS            203.0
ESTUDIO_PREV_COMMERCIAL         2077.0
ESTUDIO_PREV_DEVELOPMENT        1427.0
ESTUDIO_PREV_ENGINEERING        3850.0
ESTUDIO_PREV_MARKETING           108.0
RESIDENCIA_ARGENTINA            4843.0
RESIDENCIA_BRAZIL               1667.0
RESIDENCIA_MEXICO               1128.0
dtype: float64

### Seleccionando las columnas "features" y "target"

In [130]:
df_training_dataset_3.columns

Index(['EDAD', 'AVG_DH', 'MINUTES_DH', 'EXPERIENCIA', 'DIAS_EMP',
       'GENERO_FEMENINO', 'GENERO_MASCULINO', 'TRACK_DH_DATA',
       'TRACK_DH_EJECUTIVO', 'TRACK_DH_MARKETING', 'TRACK_DH_PROGRAMACION',
       'NV_ESTUDIO_POST_GRADUATE', 'NV_ESTUDIO_TERTIARY',
       'NV_ESTUDIO_UNIVERSITARY', 'ESTUDIO_PREV_BUSINESS',
       'ESTUDIO_PREV_COMMERCIAL', 'ESTUDIO_PREV_DEVELOPMENT',
       'ESTUDIO_PREV_ENGINEERING', 'ESTUDIO_PREV_MARKETING',
       'RESIDENCIA_ARGENTINA', 'RESIDENCIA_BRAZIL', 'RESIDENCIA_MEXICO'],
      dtype='object')

In [131]:
features = df_training_dataset_3[
    [
      'EDAD', 'AVG_DH', 'MINUTES_DH', 'EXPERIENCIA',
       'GENERO_FEMENINO', 'GENERO_MASCULINO', 'TRACK_DH_DATA',
       'TRACK_DH_EJECUTIVO', 'TRACK_DH_MARKETING', 'TRACK_DH_PROGRAMACION',
       'NV_ESTUDIO_POST_GRADUATE', 'NV_ESTUDIO_TERTIARY',
       'NV_ESTUDIO_UNIVERSITARY', 'ESTUDIO_PREV_BUSINESS',
       'ESTUDIO_PREV_COMMERCIAL', 'ESTUDIO_PREV_DEVELOPMENT',
       'ESTUDIO_PREV_ENGINEERING', 'ESTUDIO_PREV_MARKETING',
       'RESIDENCIA_ARGENTINA', 'RESIDENCIA_BRAZIL', 'RESIDENCIA_MEXICO'
    ]
]

target = df_training_dataset_3['DIAS_EMP']  ## NO CAMBIE EL NOMBRE DE LA VARIABLE "target".

### Dividiendo el conjunto de datos para una "prueba ciega"

In [132]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=133)

### Entrenando un modelo de regresión lineal simple

In [137]:
from sklearn.linear_model import LinearRegression, Ridge


regression_model = Ridge().fit(X_train, y_train)

### Evaluando el modelo de regresión con el método  "score()" de sklearn

In [138]:
regression_model.score(X_test, y_test)

0.7950585320482687

<hr>

## Completar los datos necesarios para entregar la solución

### Como entrega de su solución, esperamos los resultados numéricos predichos por su modelo. Como entrada utilizará el archivo "to_be_scored.csv"

In [139]:
!wget --no-check-certificate --content-disposition https://raw.githubusercontent.com/vanderlei-test/654986294958/master/to_be_scored_digitalhouse.csv
df_to_be_scored = pd.read_csv(r'to_be_scored_digitalhouse.csv')
df_to_be_scored.tail()

--2020-09-17 06:22:29--  https://raw.githubusercontent.com/vanderlei-test/654986294958/master/to_be_scored_digitalhouse.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 199.232.8.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|199.232.8.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 67308 (66K) [text/plain]
Saving to: ‘to_be_scored_digitalhouse.csv.1’

100%[======================================>] 67,308      --.-K/s   in 0.005s

2020-09-17 06:22:29 (13.2 MB/s) - ‘to_be_scored_digitalhouse.csv.1’ saved [67308/67308]

,Unnamed: 0,EDAD,GENERO,RESIDENCIA,NV_ESTUDIO,ESTUDIO_PREV,TRACK_DH,AVG_DH,MINUTES_DH,EXPERIENCIA,Unnamed: 10
995,995,33.0,MASCULINO,ARGENTINA,UNIVERSITARY,COMMERCIAL,PROGRAMACION,3.6,4576.5,15.1,NaN
996,996,40.0,MASCULINO,ARGENTINA,TERTIARY,COMMERCIAL,PROGRAMACION,3.4,4542.9,26.1,NaN
997,997,NaN,FEMENINO,ARGENTINA,UNIVERSITARY,ENGINEERING,DATA,3.4,NaN,27.4,NaN
998,998,NaN,MASCULINO,MEXICO,UNIVERSITARY,ENGINEERING,DATA,3.7,4730.4,1.1,NaN
999,999,36.0,NaN,ARGENTINA,UNIVERSITARY,NaN,PROGRAMACION,3.3,4506.5,20.4,NaN

In [140]:
df_to_be_scored['Unnamed: 10']=0
df_to_be_scored.head()

,Unnamed: 0,EDAD,GENERO,RESIDENCIA,NV_ESTUDIO,ESTUDIO_PREV,TRACK_DH,AVG_DH,MINUTES_DH,EXPERIENCIA,Unnamed: 10
0,0,43.0,MASCULINO,ARGENTINA,POST_GRADUATE,ENGINEERING,PROGRAMACION,3.8,4557.9,NaN,0
1,1,42.0,FEMENINO,BRAZIL,UNIVERSITARY,COMMERCIAL,DATA,3.5,4656.2,25.6,0
2,2,35.0,FEMENINO,ARGENTINA,UNIVERSITARY,DEVELOPMENT,NaN,4.0,4695.2,19.0,0
3,3,35.0,NaN,MEXICO,TERTIARY,DEVELOPMENT,MARKETING,4.1,4778.2,18.4,0
4,4,36.0,MASCULINO,NaN,POST_GRADUATE,COMMERCIAL,PROGRAMACION,4.0,4722.3,19.1,0

# ¡Atención!

### El marco de datos ``to_be_scored`` es su "hoja de evaluación". Tenga en cuenta que la columna "target" no existe en esta muestra, por lo que no se puede utilizar para modelos de entrenamiento basados en el aprendizaje supervisado.

# ¡Atención!

### Debes realizar los mismos pasos de procesamiento previo que hiciste en el conjunto de datos de entrenamiento antes de calificar la "hoja de respuestas"

In [145]:
df_to_be_scored_1 = df_to_be_scored.drop(columns=['Unnamed: 0','Unnamed: 10'], inplace=False)

from sklearn.impute import SimpleImputer
import numpy as np
si = SimpleImputer(
    missing_values=np.nan,  # los valores que faltan son del tipo ``np.nan`` (Pandas estándar)
    strategy='most_frequent',  # la estrategia elegida es cambiar el valor faltante por una constante
    verbose=0,
)
df_to_be_scored_2 = pd.get_dummies(df_to_be_scored_1, columns=['GENERO','TRACK_DH', 'NV_ESTUDIO', 'ESTUDIO_PREV','RESIDENCIA'])
df_to_be_scored_2.head()

,EDAD,AVG_DH,MINUTES_DH,EXPERIENCIA,GENERO_FEMENINO,GENERO_MASCULINO,TRACK_DH_DATA,TRACK_DH_EJECUTIVO,TRACK_DH_MARKETING,TRACK_DH_PROGRAMACION,...,NV_ESTUDIO_TERTIARY,NV_ESTUDIO_UNIVERSITARY,ESTUDIO_PREV_BUSINESS,ESTUDIO_PREV_COMMERCIAL,ESTUDIO_PREV_DEVELOPMENT,ESTUDIO_PREV_ENGINEERING,ESTUDIO_PREV_MARKETING,RESIDENCIA_ARGENTINA,RESIDENCIA_BRAZIL,RESIDENCIA_MEXICO
0,43.0,3.8,4557.9,NaN,0,1,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
1,42.0,3.5,4656.2,25.6,1,0,1,0,0,0,...,0,1,0,1,0,0,0,0,1,0
2,35.0,4.0,4695.2,19.0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
3,35.0,4.1,4778.2,18.4,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1
4,36.0,4.0,4722.3,19.1,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [146]:
# Aplicamos el SimpleImputer ``si`` al conjunto de datos df_data_2 (resultado de la primera transformación)
si.fit(X=df_to_be_scored_2)

 #Reconstrucción de un nuevo DataFrame de Pandas con el conjunto imputado (df_data_3)
df_to_be_scored_3 = pd.DataFrame.from_records(
    data=si.transform(
        X=df_to_be_scored_2
    ),   #el resultado SimpleImputer.transform (<< pandas dataframe >>) es lista lista
    columns=df_to_be_scored_2.columns  # las columnas originales deben conservarse en esta transformación
)

In [147]:
df_to_be_scored_3.tail()

,EDAD,AVG_DH,MINUTES_DH,EXPERIENCIA,GENERO_FEMENINO,GENERO_MASCULINO,TRACK_DH_DATA,TRACK_DH_EJECUTIVO,TRACK_DH_MARKETING,TRACK_DH_PROGRAMACION,...,NV_ESTUDIO_TERTIARY,NV_ESTUDIO_UNIVERSITARY,ESTUDIO_PREV_BUSINESS,ESTUDIO_PREV_COMMERCIAL,ESTUDIO_PREV_DEVELOPMENT,ESTUDIO_PREV_ENGINEERING,ESTUDIO_PREV_MARKETING,RESIDENCIA_ARGENTINA,RESIDENCIA_BRAZIL,RESIDENCIA_MEXICO
995,33.0,3.6,4576.5,15.1,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
996,40.0,3.4,4542.9,26.1,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
997,34.0,3.4,4603.7,27.4,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
998,34.0,3.7,4730.4,1.1,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
999,36.0,3.3,4506.5,20.4,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

<hr>

### Hacer las predicciones con el método "predict()" de sklearn y agregar los resultados en el marco de datos de la "hoja de evaluación"

In [148]:
y_pred = regression_model.predict(df_to_be_scored_3)
df_to_be_scored_3['target'] = y_pred
df_to_be_scored_3.tail()

,EDAD,AVG_DH,MINUTES_DH,EXPERIENCIA,GENERO_FEMENINO,GENERO_MASCULINO,TRACK_DH_DATA,TRACK_DH_EJECUTIVO,TRACK_DH_MARKETING,TRACK_DH_PROGRAMACION,...,NV_ESTUDIO_UNIVERSITARY,ESTUDIO_PREV_BUSINESS,ESTUDIO_PREV_COMMERCIAL,ESTUDIO_PREV_DEVELOPMENT,ESTUDIO_PREV_ENGINEERING,ESTUDIO_PREV_MARKETING,RESIDENCIA_ARGENTINA,RESIDENCIA_BRAZIL,RESIDENCIA_MEXICO,target
995,33.0,3.6,4576.5,15.1,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,86.713272
996,40.0,3.4,4542.9,26.1,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,93.243361
997,34.0,3.4,4603.7,27.4,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,98.277373
998,34.0,3.7,4730.4,1.1,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,83.590459
999,36.0,3.3,4506.5,20.4,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,91.648519

# ¡Atención!

### La columna agregada con los resultados debe llamarse "target", de lo contrario, su envío fallará.

<hr>

### Exportar el marco de datos de resultados como un archivo .csv a su proyecto de Watson Studio.

In [149]:
project.save_data(file_name="results.csv", data=df_to_be_scored_3.to_csv(index=False))

{'file_name': 'results.csv',
 'message': 'File saved to project storage.',
 'bucket_name': 'desafio8dh-donotdelete-pr-6l8qbnm1pyz0du',
 'asset_id': '4a7df4f6-fb55-4e1d-a2f9-8ce590f776e3'}